.icon-1png {
  height: 75px;
  width: 75px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.order-directly {
  position: relative;
  line-height: 29px;
  font-weight: 600;
}
.choose-from-one,
.conveniently-pay-by {
  margin: 0;
}
.choose-from-one-container {
  position: relative;
  font-size: 16px;
  line-height: 135%;
}
.business-option-descriptions,
.business-option-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  max-width: 100%;
}
.business-option-items {
  flex-direction: row;
  align-items: center;
  text-align: left;
  font-size: 24px;
  color: #0f0a1b;
  font-family: Inter;
}
@media screen and (max-width: 825px) {
  .business-option-items {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .order-directly {
    font-size: 19px;
    line-height: 23px;
  }
}
