.background11 {
  height: 8px;
  width: 56px;
  position: absolute;
  margin: 0 !important;
  top: 108px;
  left: 0;
  border-radius: 4px;
  background-color: #262626;
}
.heading-21 {
  position: relative;
  line-height: 120%;
  font-weight: 600;
}
.surprising-additional-options {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  color: #65626d;
}
.business-heading,
.business-options-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  max-width: 100%;
}
.business-options-container {
  gap: 42px;
  min-width: 585px;
}
.gc-uk-home-banner-yourownlogo-icon {
  height: 400px;
  flex: 1;
  position: relative;
  border-radius: 40px;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 696px;
}
.business-options {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
  box-sizing: border-box;
  gap: 24px;
  max-width: 100%;
  font-size: 24px;
}
.business,
.business-container,
.business-content {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.business-content {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 56px;
}
.business,
.business-container {
  flex-direction: row;
}
.business-container {
  width: 1680px;
  justify-content: flex-start;
  position: relative;
}
.business {
  align-self: stretch;
  justify-content: center;
  padding: 0 20px 80px;
  box-sizing: border-box;
  text-align: left;
  font-size: 32px;
  color: #0f0a1b;
  font-family: Inter;
}
@media screen and (max-width: 1575px) {
  .business-options-container {
    flex: 1;
  }
  .business-options {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 825px) {
  .heading-21 {
    font-size: 26px;
    line-height: 31px;
  }
  .business-options-container {
    gap: 21px;
    min-width: 100%;
  }
  .gc-uk-home-banner-yourownlogo-icon {
    min-width: 100%;
  }
  .business-content {
    gap: 28px;
  }
  .business {
    padding-bottom: 52px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading-21 {
    font-size: 19px;
    line-height: 23px;
  }
  .business-options {
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
}
